@media (min-width:1200px) {}

/* @media (min-width:768px) and (max-width:1024px) {} */

@media (min-width:481px) and (max-width:1023px) {

    .header-content {
        display: flex !important;
        justify-content: space-between;
        align-items: center;
    }


    .logo {
        width: 85px !important;
        height: 85px !important;
        transition: 350ms ease-in 0s;
    }


    /* ProInfo.tsx */
    .pro-info-add {
        display: grid;
        grid-template-columns: 1fr !important;
        grid-gap: 30px;
    }

    .pro-pl2 {
        width: 20% !important;
    }

    .name-classify1>span,
    .name-classify2>span {
        width: 60% !important;
    }

    .classify-value1>span,
    .classify-value2>span {
        width: 40% !important;
    }
}

@media screen and (max-width: 480px) {
    .header-content {
        display: flex !important;
        justify-content: space-between;
        align-items: center;
    }

    .header-input {
        display: none;
    }

    .logo {
        width: 70px !important;
        height: 70px !important;
        transition: 350ms ease-in 0s;
    }
    /* .name-classify1>span,
    .name-classify2>span {
        width: 90% !important;
    }

    .classify-value1>span,
    .classify-value2>span {
        width: 40% !important;
    } */
}