.admin-logo {
    height: 80px;
    margin: 15px 20px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: 350ms ease-in 0s;
}

.admin-logo img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: contain;
}
.ant-layout-sider-children{
    background-color: #fff;
}