
.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: #fff;
  width: 100%;
  box-shadow: 0 0 10px rgb(225, 225, 225); */
}
.list_cate {
  box-shadow: 0 0 10px rgb(225, 225, 225);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  animation: key 1s ease-in;
  padding: 10px;
  background-color: #fff;
  cursor: pointer;
  transition: 0.4s ease-in;
  transform: scale(1, 1);
  transition: 0.3s ease-in;
  margin: 10px;
  color: black;
}
.list_cate:hover {
  transition: 0.3s ease-in;
  transform: scale(1.05, 1.05);
}

.noData {
  color: red;
  font-size: 17px;
  font-weight: 600;
}
.statisticsMonth::-webkit-scrollbar{
  /* height: 0;
  width: 0; */
  
}