#upload-image {
    display: none;
}

.comment {
    background-color: #fff;
    margin-top: 10px;
    padding: 30px;
}

.comment h4 {
    background-color: #f5f5f5;
    text-transform: uppercase;
    font-size: 20px;
    padding: 10px;
    color: #5e5e5e;
}

.comment-input {
    display: flex;

}

.comment-name {
    font-size: 17px;
    margin: 20px 0px;

}

.comment-name span:nth-child(2) {
    font-weight: 600;
    color: #ee4d2d;
}

.comment-avatar {
    width: 15%;
}

.comment-avatar .ant-avatar {
    width: 100px;
    height: 100px;
}

.input-comment .ck-content {
    height: 200px;
}

.input-comment {
    width: 75%;
}

.comment-upload-image {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    border: 1px solid #c7c7c7;
    border-radius: 10px;
    margin-left: 10px;
    color: #9a9a9a;
    height: 80px;
    cursor: pointer;
}

.comment-user {
    text-transform: uppercase;
    font-size: 20px;
    border-bottom: 1px solid black;
    margin-top: 40px;
}

.comment-user h5 {
    color: #5e5e5e;
}

.list-comment-user {
    margin: 30px 0;
    border-top: 1px solid rgb(185, 185, 185);
    padding-top: 10px;
}

.list-comment-user-title {
    display: flex;
    justify-content: space-between;
}


.list-comment-user-edit {
    color: #17ff02;
    cursor: pointer;
}

.list-comment-user-delete {
    margin-left: 10px;
    color: #ee4d2d;
    cursor: pointer;
}

.image-comment {
    display: flex;
}

.image-comment .image-add-comment {
    width: 80px;
    height: 80px;
    position: relative;
    overflow: hidden;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.image-comment div img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-comment-view {
    width: 180px;
    height: 250px;
    position: relative;
    overflow: hidden;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.image-comment-view img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.comment-pagination {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid rgb(185, 185, 185);
    padding-top: 10px;
}

.image-comment-close {
    position: absolute;
    right: -70px;
    top: -15px;
    color: red;
    width: 100%;
    cursor: pointer;
}

.edit-comment-photo {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.photo-edit-comment {
    position: relative;
    width: 80px;
    height: 80px;
    overflow: hidden;
}

.photo-edit-comment img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.edit-comment-input-image {
    display: flex;
    align-items: flex-start;
}

.edit-comment-image {
    font-size: 35px;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.edit-comment-input-image .ck-editor {
    width: 100% !important;
}

#add-image {
    display: none;
}

.input-comment .ck-editor {
    overflow: hidden !important;
}

.info-user-comment {
    display: flex;
}

.name-user-time span:nth-child(2),
.name-user-time span:nth-child(3) {
    font-size: 13px;
    color: #691eff;
    font-style: italic;
    font-weight: 600;
    opacity: .7;
}

.comment-pagination .showAll-comment {
    text-decoration: underline;
    font-style: italic;
    color: #691eff;
    cursor: pointer;
}
.show-comment-detail::-webkit-scrollbar {
    width: 0;
    height: 0;
}
.show-comment-detail {
    background-color: rgb(234, 234, 234);
}

.show-comment-detail-header {
    display: flex;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
}
.show-comment-detail-header .header-text{
    font-size: 22px;
}
.show-comment-detail-header .ant-badge{
    margin-right: 5px;
    font-size: 25px;
}
.list-comment-mobile{
    background-color: #fff;
}