.table-categoris .ant-table-cell {
    text-align: center !important;
}


.categori-logo  {
    position: relative;
    overflow: hidden;
    width: 150px;
    height: 150px;
}

.add-cate-box-image {
    position: relative;
    overflow: hidden;
    width: 90px;
    height: 90px;
}

.add-cate-box-image>img ,
.categori-logo img {

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.add-cate-avatar {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
}

.add-cate-avatar>span {
    margin-right: 20px;
    width: 17%;
    margin-left: 20px;
}

.avatar {
    position: relative;
}

.add-cate-avatar-close {
    position: absolute;
    top: -15px;
    right: 0;
    color: red;
    cursor: pointer;
}